body {
	margin: 0px;
}

.app-navbar {
	width: 100%;
	height: 80px;
	background-color: orange;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.app-navbar-apptitle {
	height: 30px;
	font-size: 30px;
	margin: 0px;
	margin-left: 50px;
}

.app-navbar-button {
	margin: 0px;
	margin-right: 50px;
}

.app-navbar-button > button {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	color: orange;
	border: none;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.app {
	width: 65%;
	margin: auto;
}

.levelCard {
	width: 475px;
	height: 250px;
	border-radius: 20px;
	background-color: lightgrey;
}

.charts-container {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
