body {
	color: white;
	margin: 0px;
}

.app-navbar {
	width: 100%;
	height: 100px;
	background-color: orange;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}

.app-navbar-apptitle {
	height: 50px;
	font-size: 40px;
	margin: 0px;
	margin-left: 50px;
}

.app-navbar-button {
	margin: 0px;
	margin-right: 50px;
}

.app-navbar-button > button {
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
